<html>
  <head>
    <style>

    .btn-primary:active:focus,
    .btn-primary:active:hover,
    .btn-primary:visited {
      background-color: rgba(225, 211, 119);
      border-color: rgba(225, 211, 119);
    }


    .btn-primary:hover {
      background-color: rgba(225, 211, 119);
      border-color: rgba(225, 211, 119);
    }

    @font-face {
      font-family: 'Bebas Neue';
      font-style: normal;
      font-weight: normal;
      src: local('Bebas Neue'), url('BebasNeue.woff') format('woff')
      }


      #background {
        background: rgba(242, 196, 194);
        padding-top: 35vh;
        display: block;
        color: black;
        text-align: center;
        height: 100vh;
      }


      h2 {
        font-family: helvetica;
        letter-spacing:4px;
        font-size: 1em;
      }

    </style>
  </head>

<body>

</div>
    <div id ="background">
      <div id ="text-overlay">
        <h2>WELCOME DRIFTERS</h2>
        <h1 style="font-family:'Bebas Neue';font-weight:normal;font-size:5em">DRIFT INTO THE LAND OF SKINCARE</h1>
            <a href="/signup" class="button btn btn-primary btn-primary-outline btn-pill">Sign Up</a>
            <a href="/login" class="button btn btn-primary btn-primary-outline btn-pill">Log In</a>
      </div>
    </div>

  </body>
</html>
